
body {
  background-color: #ffa07a;
}

.big-text {
  font-family: Sacramento, cursive;
  color: white;
}

.sml-text {
  font-family: "Source Code Pro", monospace;
  color: white;
}

.med-text {
  font-family: "Source Code Pro", monospace;
  color: white;
}

.quote {
  margin: auto;
}

.today {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  .today {
    text-align: right;
  }

}
